name: Production Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-prod-images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env for production build
        run: |
          cat << 'EOF' > .env
          MONGO_INITDB_ROOT_USERNAME=MongoDummyUser
          MONGO_INITDB_ROOT_PASSWORD=MongoDummyPassword
          MONGO_URI=mongodb://MongoDummyUser:MongoDummyPassword@mongo:27017/mdb?authSource=admin
          MONGO_DATABASE=mdb
          BACKEND_PORT=3847
          GATEWAY_PORT=5921
          NODE_ENV=production
          EOF

      - name: Show docker version
        run: docker version

      - name: Validate production compose file
        run: docker compose -f docker/compose.production.yaml config

      - name: Build production docker-compose
        run: docker compose -f docker/compose.production.yaml build
